version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  seeder:
    build:
      context: ..
      dockerfile: docker/seeder.Dockerfile
    container_name: seeder
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    env_file:
      - ../.env
    volumes:
      - C:/Users/Lenovo/Desktop/agent-tower/db:/app/db
    restart: always

  worker:
    build:
      context: ..
      dockerfile: docker/worker.Dockerfile
    container_name: worker
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    env_file:
      - ../.env
    volumes:
      - C:/Users/Lenovo/Desktop/agent-tower/db:/app/db
    restart: always
